<div local-class="card">
  <div local-class="pet-photos">
    <Ui::ImageSlider @images={{@story.photos}} />

  </div>
  <div local-class="description">
    {{@story.description}}
  </div>
  <div local-class="media-net"></div>
</div>