.button {

}

.button[data-variant="primary"] {
  background-color: cyan;
}

.button[data-variant=secondary] {
  background-color: orange;
}

.button[data-size=sm] {
  padding: 0.5rem;
}

.button[data-size=md] {
  padding: 1rem;
}

.button[data-size=lg] {
  padding: 1.5rem;
}
